body {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 24px;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    margin-top: 0;
    color: #242424;
}

main {
    max-width: 1200px;
    font-family: 'Lato', sans-serif;
}

button {
    font-size: 16px;
    background-color: #208dfd;
    color: white;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

input {
    padding: 6px;
}

#game-board {
    position: relative;
    width: 50vw;
    height: 500px;
    background-color: #049745;
}

#button-container {
    position: absolute;
    bottom: 0;
    right: 1vw;
}

#button-container > button {
    margin: 12px;
    width: 75px;
    background-color: #1065ff;
}

#player, #dealer {
    border: 1px solid black;
    height: 175px;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 12px;
}

#dealer {
    margin-bottom: 40px;
}

#player > p,
#dealer > p {
    margin: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
    border: 1px solid #939393;
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 0px 9px 0px #8d8d8d;
    color: #242424;
}

.hand-container {
    margin-top: 12px;
}

.hand-container > img {
    width: 100px;
    margin-right: 12px;
}

.hand-container > img:last-child {
    margin-right: 0;
}



